body{
    background-color: #101218;
    color: #FFFFFF;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h1{
    text-align: center;
    font-size: 42px;
}
.container-imagem{
    width: 100%;
    display: flex;
    justify-content: center;
}
a{
    color: white;
}